body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.selectAccount .MuiInputBase-input{
  padding: 0px !important;
}
.selectAccount .MuiFormLabel-root{
  line-height: 0;
}
.noData{
  font-size: 20px;
    text-align: center;
    font-weight: 600;
}
.searchInput .MuiIconButton-root{
  padding: 0 !important;
}

.uploaderMainContainer {
  height: 50px;
  width: 100%;
  border: 2px dashed #9a9a9a;
  background: #93a2fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
}
.mgTop12{
  margin-top: 12px !important;
}
.displayFlex{
  display: flex;
}

.margin8{
  margin: 8px;
}

.fullWidth{
  width: 100%;
}

/*------------- Arena Date Picker Starts --------------*/

.arenaDatePickerMainContainer {
  border: 1px solid #9a9a9a;
  padding: 8px 8px;
  border-radius: 8px;
  background: #93a2fc;
}

.arenaDatePickerMainContainer .MuiFormControl-root {
  width: 100%;
}
.arenaDatePickerMainContainer .MuiInputBase-root {
  display: flex;
  flex-direction: row-reverse;
  color: #fff !important;
}

.arenaDatePickerMainContainer .date-picker-dialog {
  text-align: end !important;
  color: #ffffff !important;
}
.arenaDatePickerMainContainer .MuiInput-underline:before {
  display: none !important;
}
.arenaDatePickerMainContainer .MuiInput-underline:after {
  display: none !important;
}
.arenaDatePickerMainContainer .MuiIconButton-label {
  color: #ffffff !important;
}

/*------------- Arena Date Picker Ends --------------*/

.halfFlex{
  flex: 0.5;
}

/* ------------------ Arena Dropdown starts ----------*/
.arena-dropdown__menu {
  min-width: 200px;
  z-index: 9999999 !important;
  overflow: visible;
}

.arena-dropdown__menu-list {
  text-align: end;
  background: #93a2fc !important;
}
.arena-dropdown__control {
  display: flex;
  background: #93a2fc !important;
  height: 100%;
  border-radius: 8px !important;
  border: 1px solid #9a9a9a !important;
}
.arena-dropdown__value-container {
  justify-content: flex-end;
}
.arena-dropdown__menu-list {
  border: 1px solid #9a9a9a !important;
  border-radius: 8px;
}
.arena-dropdown__placeholder {
  color: #ffffff !important;
}
.arena-dropdown__option {
  color: #ffffff !important;
  background: #93a2fc !important;
}
.arena-dropdown__option:hover,
.arena-dropdown__option:focus,
.arena-dropdown__option:active,
.arena-dropdown__option:visited {
  background: #93a2fc !important;
  opacity: 0.5 !important;
}
.arena-dropdown__input #react-select-2-input {
  color: #ffffff !important;
}
.arena-dropdown__single-value {
  color: #ffffff !important;
}
.arena-dropdown__indicator-separator {
  display: none;
}

/* ------------------ Arena Dropdown ends ----------*/

.flex1{
  flex: 1;
}

.mgTop8{
  margin-top: 8px !important;
}